@font-face {
    font-family: 'lackregular';
    src: url('lack-regular-webfont.eot');
    src: url('lack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lack-regular-webfont.woff2') format('woff2'),
         url('lack-regular-webfont.woff') format('woff'),
         url('lack-regular-webfont.ttf') format('truetype'),
         url('lack-regular-webfont.svg#lackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@-webkit-keyframes scaleme {
  0% { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(3); opacity: 0;display:none; }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
    @media only screen  {

    }
}
/*homepage*/
body {
    margin: 0px;
    width: 100%;
}
nav {
    width:100%;
}
ul{
    display: flex;
    justify-content: space-around;
    font-size: 20pt;
   font-family: 'lackregular';
    color: #1300D6;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    flex-direction: row;
    list-style: none;
    top: 0px;
    z-index: 0px;
    text-decoration: none;
}
a {
    text-decoration: none;
      color: #1300D6;
}
li{
    align-self: center;
    list-style-type: none;
    font-style: sans-serif;
}
body{
    background-color: #1300D6;
}

#HOME {
    margin-top: 500px;
    width: 100%;
    background-color: #1300D6;
}
#yeh{
    width: 100%;
    background-color: #1300D6;
}
#haha {
    display: flex;
    justify-content: center;

    background-color:#1300D6;
    margin-top: 33px;

}
#logo {
    width: 200px;
    height: 200px;
    margin-top:50px;
    display:flex;
    justify-content: center;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-name: fadeIn;

}
#video {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*portfolio*/
#artworkone {
    margin-top:50px;
    display:flex;
    justify-content: center;
    animation-direction: normal;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-name: fadeIn;

}
#artworktwo {
    margin-top:50px;
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
}
#ahhhhhhhh{
    font-family: 'lackregular';7
}
/*about*/
#about {
    font-family: 'lackregular';
    font-size: 46pt;
    display: flex;
    justify-content: center;
    color: white;
}
#heythere {
    display: flex;
    justify-content: center;
    font-family: 'lackregular';
    color: white;
    margin-left: 190px;
    margin-right: 190px;
}
/*contact*/
#contacttext {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'lackregular';
    font-size: 50px;
    color:white;

}
#coollittlecontactbox {
     display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'lackregular';
    font-size: 20px;
    color:white;
}
#newdudenewblock {
 display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'lackregular';
    font-size: 30px;
    color:white;
}
a2 {
color: white;
text-decoration: none
}
/*start of media query small screen*/
@media only screen and (max-width:600px){
    ul{
        font-size: 30px;
    }
    #logo {
        width:150px;
        height:150px
    }
    #video {
        display:flex;
        flex-direction: column
        width:200px;
        height:200px;
    }
